@import url('./colors/colors.css');

@import url('./fonts/typography.css');

#dashboard{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;

}

#dashboard > section{
  padding: 24px;
  border-radius: 1rem;

}

/* ### Profile ### */

.card--profile{
  background-color: var();
  grid-column: 1 / 4;
  grid-row: 1 / 9;

}

.profile__top{
  border-radius: 1rem;

}

.profile__avatar{
  background-color: var(--purple-500);
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid white;

}

.profile__img{
  width: 100%;
  object-fit: cover;

}

.profile__bottom a{
  text-decoration: none;
  display: block;
  margin-bottom: 1.3rem;
  color: var(--purple-500);

}

.profile__link:hover{
  color: #FFF;

}

/* Close Profile */

/* ### Cards Styles ### */

.card--activities{
  background-color: #FFF;
  margin: 0 !important;
  padding: 0 !important;
  display: grid;
  transition: transform 0.3s;

}

.card--activities:hover{
  transform: perspective(1000px) rotateX(-4deg) rotateY(4deg) scale(1.03);

}

.card--activities > .card__bottom{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}

.card__top{
  background-repeat: no-repeat;
  background-position: right 0px top -10px;
  margin-right: 1rem;
  padding: 1rem;

}

.card__bottom{
  border-radius: 1rem;
  padding: 2rem 2rem 0 2rem;
  background-color: var(--navy-900);

}

.button{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  position: relative;
  width: 20px;
  height: 20px;

}

.button .dots{
  background-image: url('/images/icons/icon-ellipsis.svg');
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;

}

.card__bottom-header{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.card__bottom-header h2{
  font-weight: var(--fw-regular);

}

.card__bottom-container h3{
  line-height: 1.2;
  font-weight: var(--fw-light);

}

/* Close Cards Styles */

/* ### Cards Position ### */

.card--work{
  background-color: var(--work-color);
  grid-column: 4 / 6;
  grid-row: 1 / 5;

}

.card--work .card__top{
  background-image: url('/images/icons/icon-work.svg');

}

.card--exercise{
  background-color: var(--exercise-color);
  grid-column: 4 / 6;
  grid-row: 5 / 9;

}

.card--exercise .card__top{
  background-image: url('/images/icons/icon-exercise.svg');
  background-position: right 0px top 0px;

}

.card--play{
  background-color: var(--play-color);
  grid-column: 6 / 8;
  grid-row: 1 / 5;

}

.card--play .card__top{
  background-image: url('/images/icons/icon-play.svg');
  background-position: right 0px top 0px;

}

.card--social{
  background-color: var(--social-color);
  grid-column: 6 / 8;
  grid-row: 5 / 9;

}

.card--social .card__top{
  background-image: url('/images/icons/icon-social.svg');

}

.card--study{
  background-color: var(--study-color);
  grid-column: 8 / 10;
  grid-row: 1 / 5;

}

.card--study .card__top{
  background-image: url('/images/icons/icon-study.svg');

}

.card--self-care{
  background-color: var(--self-care-color);
  grid-column: 8 / 10;
  grid-row: 5 / 9;

}

.card--self-care .card__top{
  background-image: url('/images/icons/icon-self-care.svg');

}

@media (max-width: 768px){
  #dashboard{
    padding-block: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;

  }

  #dashboard > section{
    grid-column: auto !important;
    grid-row: auto !important;
  
  }

  .profile__top{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

  }

  .profile__avatar{
    margin-bottom: 0;
    
  }

  .profile__bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

}

@media (min-width: 768px) and (max-width: 960px){
  #dashboard{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .card--profile{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .card--work{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .card--play{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .card--exercise{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .card--social{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .card--study{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .card--self-care{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
  }

}