@import url('./colors/colors.css');

@import url('./fonts/typography.css');

@import url('./components.css');

body, html{
  margin: 0;
  padding: 0;
  
}

body{
  display: flex;
  background-color: var(--navy-950);
  color: #FFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;

}

p{ color: var(--purple-500); }

a{ text-decoration: none; color: var(--purple-500); }