@import url('./colors/colors.css');

@import url('./fonts/typography.css');

@import url('./components.css');

@import url('./utilities.css');

*,
*::before,
*::after{
  box-sizing: border-box;

}

*{
  margin: 0;

}

body, html{
  margin: 0;
  padding: 0;
  
}

body{
  display: flex;
  background-color: var(--navy-950);
  color: #FFF;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100dvh;

}